body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Line {
	border-color:#9d9d9c;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.BODY-TEXT_Body-Text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Raleway Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.BODY-TEXT_Bulleted-List {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Raleway Regular", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.HEADERS_Section-Title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Raleway ExtraBold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.HEADERS_Subsection {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Raleway ExtraBold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
span.Body-Light-New {
	font-family:"NeueHaasGroteskDisp Pro Lt", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Body-NEW {
	font-family:"NeueHaasGroteskDisp Pro Lt", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Bold {
	font-style:normal;
	font-weight:bold;
}
span.Drop-Cap {
	font-variant:normal;
	text-transform:uppercase;
}
span.SubHead1-NEW {
	font-family:"NeueHaasGroteskDisp Pro Md", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.section-title {
	font-family:"NeueHaasGroteskDisp Pro Md", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
p.ParaOverride-1 {
	text-align:center;
}
#_idContainer002, #_idContainer012, #_idContainer029, #_idContainer040, #_idContainer078, #_idContainer083 {
	display:inline-block;
	height:0px;
	position:relative;
	width:341px;
}
#_idContainer005, #_idContainer008, #_idContainer015, #_idContainer018, #_idContainer054, #_idContainer057, #_idContainer062, #_idContainer065, #_idContainer103, #_idContainer106, #_idContainer108, #_idContainer111 {
	display:inline-block;
	height:0px;
	position:relative;
	width:159px;
}
#_idContainer020, #_idContainer027, #_idContainer033, #_idContainer037, #_idContainer038, #_idContainer049 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer021, #_idContainer087, #_idContainer090, #_idContainer093 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
	z-index:1;
}
#_idContainer022, #_idContainer025, #_idContainer088, #_idContainer091, #_idContainer094 {
	-ms-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.00px;
	z-index:0;
}
#_idContainer023, #_idContainer026, #_idContainer089, #_idContainer092, #_idContainer095 {
	display:inline-block;
	height:66px;
	position:relative;
	width:342px;
}
#_idContainer024, #_idContainer084 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:68.91px;
	z-index:1;
}
#_idContainer030 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.00px;
	z-index:1;
}
#_idContainer031 {
	-ms-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.00px;
	z-index:0;
}
#_idContainer032 {
	display:inline-block;
	height:105px;
	position:relative;
	width:342px;
}
#_idContainer034, #_idContainer043, #_idContainer096 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.32px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
	z-index:1;
}
#_idContainer035, #_idContainer044, #_idContainer097 {
	-ms-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:94.42px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.00px;
	z-index:0;
}
#_idContainer036, #_idContainer045, #_idContainer098 {
	display:inline-block;
	height:94px;
	position:relative;
	width:342px;
}
#_idContainer046 {
	-ms-transform:translate(0.000px,6.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,6.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,6.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
	z-index:1;
}
#_idContainer047 {
	-ms-transform:translate(90.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(90.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.12px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(90.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(90.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.00px;
	z-index:0;
}
#_idContainer048 {
	display:inline-block;
	height:81px;
	position:relative;
	width:342px;
}
#_idContainer066, #_idContainer067, #_idContainer070, #_idContainer071, #_idContainer072, #_idContainer073, #_idContainer074, #_idContainer075, #_idContainer114, #_idContainer115, #_idContainer118, #_idContainer119, #_idContainer120, #_idContainer121, #_idContainer122, #_idContainer123 {
	display:inline-block;
	height:32px;
	width:32px;
}
#_idContainer085 {
	-ms-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(91.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:251.00px;
	z-index:0;
}
#_idContainer086 {
	display:inline-block;
	height:93px;
	position:relative;
	width:342px;
}
#_idContainer126, #_idContainer136, #_idContainer140 {
	display:inline-block;
	height:0px;
	position:relative;
	width:330px;
}
#_idContainer129, #_idContainer132, #_idContainer152, #_idContainer155, #_idContainer158, #_idContainer161 {
	display:inline-block;
	height:0px;
	position:relative;
	width:153px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
